<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.qblank.control.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RechargeServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.RechargeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AscServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.AscServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AscServlet</servlet-name>
    <url-pattern>/AscServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RechargeServlet</servlet-name>
    <url-pattern>/control/RechargeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.qblank.control.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/control/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopCarServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.ShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/control/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCarServlet</servlet-name>
    <url-pattern>/control/ShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <url-pattern>/control/shoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.ShoppingCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailProductServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.DetailProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailProductServlet</servlet-name>
    <url-pattern>/DetailProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopCarQueryServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.ShopCarQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopCarDelete</servlet-name>
    <servlet-class>cn.qblank.control.servlet.ShopCarDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DescServlrt</servlet-name>
    <servlet-class>cn.qblank.control.servlet.DescServlrt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopCarPagingServlet</servlet-name>
    <servlet-class>cn.qblank.control.servlet.ShopCarPagingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithDraw</servlet-name>
    <servlet-class>cn.qblank.control.servlet.WithDraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/control/commentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/control/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCarQueryServlet</servlet-name>
    <url-pattern>/control/shopCar1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCarDelete</servlet-name>
    <url-pattern>/control/ShopCarDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/control/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DescServlrt</servlet-name>
    <url-pattern>/DescServlrt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCarPagingServlet</servlet-name>
    <url-pattern>/control/shopCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithDraw</servlet-name>
    <url-pattern>/control/withdraw</url-pattern>
  </servlet-mapping>
</web-app>